<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 自动扫描dao和service包(自动注入) -->
	<context:component-scan base-package="com.somnus.dao,com.somnus.service" />
	
	<!-- 公共配置文件-->
	<import resource="classpath:/spring-env.xml"/>	
	<import resource="classpath:/spring-cxf.xml"/>	
	<import resource="classpath:/spring-druid.xml" />
	<import resource="classpath:/spring-ehcache.xml" />
    <import resource="classpath:/spring-hibernate.xml" />
    <import resource="classpath:/spring-javamelody.xml" />
    <import resource="classpath:/spring-scheduler.xml" />
    <import resource="classpath*:/spring-resource-*.xml" />
    <import resource="classpath:/msg/spring-message.xml" />
    <import resource="classpath*:META-INF/monitoring-spring.xml"/>

</beans>
